html {overflow-y: scroll}
body{max-width:800px;margin:40px auto;padding:0 10px;font:14px/1.5 monospace;color:#444}
h1,h2,h3{line-height:1.2}@media (prefers-color-scheme: dark){body{color:white;background:#444}a:link{color:#5bf}a:visited{color:#ccf}}
p > code{color: #FFFFFF; background:#000000; padding:2px}
pre{color: #FFFFFF; background:#000000; padding:24px; white-space: pre-wrap}
article{padding:16px 0}
.center {display: block;margin-left: auto;margin-right: auto;width: 100%;}
.listing{font-size:15px;}.sidebar_navv{float:right;margin-top:-45px;}
.navv ul li{list-style:none;}
.navv ul li a{text-decoration:none;}
aside{margin-top: 50px;}
main{width:631px;}
footer{font-size:12px; margin-top:90px;}
